<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Customisable Rising Stars</title>

    <link rel="stylesheet" href="{{  url_for('static', filename='fiction-card.css')}}">
    <link rel="stylesheet" href="{{  url_for('static', filename='watched-urls.css')}}">
    <link rel="stylesheet" href="{{  url_for('static', filename='dont-show.css')}}">
    <link rel="stylesheet" href="{{  url_for('static', filename='default.css')}}">
</head>
<body>
    <div class="navbar">
        <p class="site-title">RR Monitor</p>
        <a href="{{ url_for('new') }}">New</a>
        <a href="{{ url_for('dont_shows') }}">Don't Shows</a>
        <a href="{{ url_for('watched_urls') }}">Data</a>
    </div>

    {% block body %}
    {% endblock %}

    <br>
</body>
</html>