{% extends 'base.html' %}

{% block title %}
    Data Collection
{% endblock %}

{% block body %}
    <h1> Data Collection </h1>

    <div>
        <p> Some sort of graph to show history of when the data scraper was ran. </p>
    </div>

    <div>
        <p> Some sort of graph to show how large the database is and how much memory we still have </p>
    </div>

    <div>
        <p> Some sort of box to display logged messages from when the app. </p>
    </div>

    <div>
        <p> Some sort of box to display logged messages from the data scraper</p>
    </div>

    <form action="{{ url_for('fetch_data') }}" method="post">
        <button type="submit">Fetch rising stars right now</button>
    </form>

{% endblock %}