{% extends 'base.html' %}

{% block title %}
    Data Collection
{% endblock %}

{% block body %}
    <h1> Data Collection </h1>

    <div>
        <p> Some sort of graph to show history of when the data scraper was ran. </p>
    </div>

    <div>
        <p> Some sort of graph to show how large the database is and how much memory we still have </p>
    </div>

    <div>
        <p> Some sort of box to display logged messages from when the app. </p>
    </div>

    <div>
        <p> Some sort of box to display logged messages from the data scraper</p>
    </div>

    <form action="{{ url_for('fetch_data') }}" method="post">
        <button type="submit">Fetch rising stars right now</button>
    </form>

    <div class="watched-pages-div">
        {% for watched_url in watched_urls %}
            <form>
                <label for="from_url">URL</label>
                <input type="text" id="from_url" value="{{ watched_url.url }}" readonly>
                <br>

                <label for="alias">Alias</label>
                <input type="text" id="alias" value="{{ watched_url.alias }}">
                <br>

                <label for="active">Active</label>
                <input type="checkbox" id="active" value="True" {% if watched_url.active %}checked{% endif %}>
                <br>

                <button type="submit">Update</button>

                <button type="submit">Delete</button>
            </form>
        {% endfor %}
    </div>

{% endblock %}