{% extends 'base.html' %}
{% from "macros/fiction_render.html" import display_fictions %}

{% block title %}
    New Fictions
{% endblock %}

{% block body %}
    <div class="fiction-display-heading">
        <h1>New Fictions</h1>

        <form action="{{ url_for('new') }}" method="get">
            <label for="url"></label>
            <select id="url" name="url">
                {% for from_url in from_urls %}
                    <option value="{{ from_url.url }}" {% if request.args.get('url') == from_url.url %}selected{% endif %}>
                        {{ from_url.alias }}
                    </option>
                {% endfor %}
            </select>

            <button type="submit">Go</button>
        </form>
    </div>

    {{ display_fictions(fictions, display_follow=true, display_not_interested=true) }}

{% endblock %}