{% extends 'base.html' %}

{% block title %}
    New Fictions
{% endblock %}

{% block body %}
    <h1> New Fictions </h1>

    <div id="fiction-list">
        {% for fiction in fictions %}
            <div class="fiction-list-item">
                <a href="{{ fiction.url }}">
                    <h2> {{ fiction.title }} </h2>
                </a>
                <p> {{ fiction.description }} </p>
                <button> Not interested </button>
            </div>
        {% endfor %}
    </div>
{% endblock %}