{% extends 'base.html' %}
{% from "macros/fiction_render.html" import display_fictions %}

{% block title %}
    New Fictions
{% endblock %}

{% block body %}
    <div class="fiction-display-heading">
        <h1>New Fictions</h1>

        <form>
            <label for="from_url">
                <select>
                    {% for from_url in from_urls %}
                        <option value="{{ from_url.url }}">{{ from_url.alias }}</option>
                    {% endfor %}
                </select>
            </label>
            <button type="submit">Go</button>
        </form>
    </div>

    {{ display_fictions(fictions, display_follow=true, display_not_interested=true) }}

{% endblock %}