{% extends 'base.html' %}
{% from "macros/fiction_render.html" import display_fiction %}

{% block title %}
    Following
{% endblock %}

{% block body %}
    <h1> Following </h1>

    <div id="filters">
        <p> Some sort of slider to filter by minimum page count </p>
    </div>

    <div id="fiction-list">
        {% for fiction in fictions %}
            <div class="fiction-list-item">
                {{ display_fiction(fiction) }}
                <button> Unfollow </button>
            </div>
        {% endfor %}
    </div>

{% endblock %}