{% extends 'base.html' %}
{% from "macros/fiction_render.html" import display_fiction %}

{% block title %}
    Following
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{  url_for('static', filename='fiction-card.css')}}">
    <div class="fiction-list">
        <h1> Following </h1>
        <div id="filters">
            <p> Some sort of slider to filter by minimum page count </p>
        </div>
        {% for fiction in fictions %}
            {% call display_fiction(fiction) %}
                <button class="discard-fiction"> Unfollow </button>
            {% endcall %}
        {% endfor %}
    </div>
{% endblock %}